
.menuoption {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	text-decoration: none;
	letter-spacing: 0.05em;
	line-height: 1.4;
}

table {
	font-size: 13px;
}

/* MSIE display:inline-block is to make sure MSIE doesn't paint the backround above the containers, the overflow declaration is to make sure the containers do not drop below siblings if content pushes the width (in modern browsers it doesn't drop, but it spawns an orizontal scrollbar)  */
#header,#subheader,#menu,#content,#footer {overflow:hidden;}
/*
#header,#subheader,#menu,#content,#footer {overflow:hidden;}
#header,#subheader,#menu,#content,#footer {overflow:visible;}
#header,#subheader,#menu,#content,#footer {overflow:hidden;display:inline-block}
*/
#header,#subheader,#footer {width:100%} /* safari and opera need this */

#header {
	Font-Family: Arial;
	Font-size: 20pt;
	font-weight: bold;
	color: black;
	padding: 10px 0;
}

#content {
	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#menu {
	width: 140px;
	float:left;
	padding: 10px 0;
}

#subheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #FFFFFF;
	background: #00aacc;
	text-decoration: none;
	padding-left: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

#footer {
	Font-Family: Verdana, Arial, Helvetica;
	font-size: 10pt;
	background: #c0c0c0;
	color: rgb(0,0,0);
	padding: 0.1em;
	text-align: center;
	clear: left;
}

.view {
    min-width: 500px;
}

.list {
    min-width: 800px;
}

.form {
    min-width: 500px;
}

.propitem {
    width: 200px;
    margin-right: 20px;
    min-height: 250px;
    align: center;
    float: left;
    border-top: 1px dotted #7F7F7F;
    padding-top: 5px;
}

.propitem .proptipo {
    font-size: 12pt;
}

.propitem .propoper {
    color: #084;
}

.propitem .propzona {
    color: #0AC;
}

.propiedad {
    color: black;
}

.proptipo {
    font-size: 12pt;
    font-weight: bold;
    color: #606060;
}

.propoper {
    color: #084;
}

.propzona {
    color: #0AC;
}

.prop1 {
    clear: both;
    float: left;
    margin-right: 10px;
    min-width: 300px;
}

.prop2 {
    float: left;
    vertical-align: top;
}

.propimagen {
    border: 1px dotted #7F7F7F;
    padding: 5px;
    clear: both;
    float: left;
    margin-right: 10px;
}

.search {
    vertical-align: top;
}

.caption {
    font-size: 12pt;
    font-weight: bold;
    color: #606060;
}

.galleryitem {
    width: 200px;
	height: 180px;
    align: center;

    border: 1px dotted #7F7F7F;
    padding: 5px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}



div#jkit-lightbox-bg {
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background: #000;
}

div#jkit-lightbox-content {
	display: none;
	position: fixed;
	border: none;
	left: 10%;
	top: 100px;
	z-index: 10001;
	width: 80%;
	height: 80%;
	background: #fff;
	padding: 10px;
}

div#jkit-lightbox-title {
	display: none;
	position: fixed;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	left: 0px;
	top: 0px;
	z-index: 10002;
	text-align: left;
}

div#jkit-lightbox-nav {
	display: none;
	position: fixed;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	left: 0px;
	top: 0px;
	z-index: 10003;
	text-align: right;
	width: 50px;
	cursor: pointer;
	cursor: hand;
}

span#jkit-lightbox-nav-next {
	margin-right: 20px;
}

span#jkit-lightbox-nav-prev {
	margin-right: 10px;
}